@{
    ViewData["Title"] = "Home";
}

<div class="page">
    <section class="personalia">

        <img class="person-logo" src="images/profilepicture.jpg">
        <h1 class="person-name">Jesper Otten</h1>

    </section>

    <section class="profile">

        <section class="profile-content">

            <div class="profile-content__category--hidden-mobile">
                <h3 class="profile-content__category-title">Profiel</h3>
                <hr>
            </div>

            <div class="profile-content__element--hidden-mobile">
                <div class="profile-content__element-header">
                </div>
                <p class="profile-content__description">
                    Als een developer zorg ik ervoor dat de wensen van de klant worden omgezet in een goed werkend product. Ik ben een echte teamplayer en kan goed samenwerken met anderen. Ik ben leergierig en wil graag nieuwe dingen leren. Ik ben goed in het analyseren van problemen en het vinden van oplossingen. Ik ben creatief en kan goed out-of-the-box denken. Ik ben goed in het schrijven van code en kan goed overweg met verschillende programmeertalen.
                <p>
            </div>


            <section id="work-college">
                <div class="profile-content__category">
                    <h3 class="profile-content__category-title">Opleidingen</h3>
                    <hr>
                </div>

                <div class="profile-content__element">
                    <div class="profile-content__element-header">
                        <h4 class="profile-content__title">MBO software developer</h4>
                        <p class="profile-content__period">2020 - 2023</p>
                    </div>
                    <p class="profile-content__institute">ROC Friese Poort, Emmeloord</p>
                </div>

                <div class="profile-content__element">
                    <div class="profile-content__element-header">
                        <h4 class="profile-content__title">HBO Software Engineer</h4>
                        <p class="profile-content__period">2023 - huidig</p>
                    </div>
                    <p class="profile-content__institute">Hogeschool Windesheim, Zwolle</p>
                </div>

                <div>
                    <h3 class="profile-content__category-title">Werkervaring</h3>
                    <hr>
                </div>

                <div class="profile-content__element">
                    <div class="profile-content__element-header">
                        <h4 class="profile-content__title">Stagair/junior developer</h4>
                        <p class="profile-content__period">2021 - 2022</p>
                    </div>
                    <p class="profile-content__institute">Your Source/Emble, Kampen</p>
                </div>

                <div class="profile-content__element">
                    <div class="profile-content__element-header">
                        <h4 class="profile-content__title">Stagair</h4>
                        <p class="profile-content__period">2023 - 2023</p>
                    </div>
                    <p class="profile-content__institute">DNO Energie, Emmeloord</p>
                </div>
            
                <div class="profile-content__element">
                    <div class="profile-content__element-header">
                        <h4 class="profile-content__title">Spar</h4>
                        <p class="profile-content__period">okt 2022 - huidig</p>
                    </div>
                    <p class="profile-content__institute">Spar Hoefnagel, Ens</p>
                </div>
            </section>
            
            <section id="skills">
                <div class="profile-content__category">
                    <h3 class="profile-content__category-title">Skills</h3>
                    <hr>
                </div>
                
                <div class="profile-content__element">
                    <h4 class="profile-content__title">C#</h4>
                    <h4 class="profile-content__title">PHP</h4>
                    <h4 class="profile-content__title">Symfony</h4>
                    <h4 class="profile-content__title">Java</h4>
                    <h4 class="profile-content__title">Drupal</h4>
                    <h4 class="profile-content__title">Docker</h4>
                    <h4 class="profile-content__title">Unix</h4>
                </div>
            </section>
        </section>

    </section>
</div>
